button.btn {
    border-radius: 5px;
    cursor: pointer;
    padding: .25em 0.5em;
    border: 0px;
    font-size: 1.5em;
}
button.btn:active {
    transform: translate(1px, 1px);
}

button.btn-primary {
    color: black;
    text-shadow: 1px 1px white;
    background-color: rgb(220, 216, 208);
    box-shadow: 1px 1px 5px #444444;
}
button.btn-primary:disabled {
    background-color: rgb(220, 216, 208, 0);
    color: grey;
    text-shadow: unset;
}

button.btn-secondary {
    color: white;
    text-shadow: 1px 1px black;
    background: rgb(90, 106, 132);
    box-shadow: 1px 1px 5px #444444;
    
}

button.btn-big {
    padding: .5em 1.5em;
    font-size: 2em;
}

input {
    border-radius: 5px;
    border: 0px;
    padding: .25em 0.5em;
    font-size: 1.5em;
}

input.joined {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.clickable {
    cursor: pointer;
}

div:focus,
h1:focus,
a:focus,
input,
button:focus {
  outline: none;
}

.icon-btn {
    align-self: center;
    border-radius: 5px;
    cursor: pointer;
    padding: .25em;
    border: 0px;
    background: transparent;
    display: grid;
    align-items: center;
}

input {
    min-width: 2em;
}

select {
    font-size: 1.3em;
    border-radius: 5px;
    border: 0px;
    padding: .25em 0.5em;
}

.icon-btn:active {
    transform: translate(1px, 1px);
}

.pic-btn {
    height: 100px;
    background-repeat: no-repeat;
}

.pic-btn-left {
    position: absolute;
    bottom: 0;
    z-index: 0;
    left: 0;
}

.pic-btn-right {
    position: absolute;
    bottom: 0;
    z-index: 0;
    right: 0;
}

.pic-btn-text {
    width: 100%;
    height: 100%;
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    position: absolute;
}


/* Detail Page Styles */
.detail-page-top-btn {
    border-radius: 5px;
    cursor: pointer;
    padding: .5rem .5rem;
    width: 10rem;
    font-size: 1.5rem;
    border: 0px;
    box-shadow: 1px 1px 5px #444444;
    color: white;
    background-color: rgb(135, 154, 186);
    text-shadow: 1px 1px black;    
    justify-self: end;
}

.detail-page-top-btn:active {
    transform: translate(1px, 1px);
}

.detail-page-top-image {
    margin: 0;   
    position: absolute;
    left: 0;
    bottom: 0; 
    pointer-events: none;
    height: 82%;
}

.detail-page-top-icon {
    /* color: white; */
    font-size: 2rem;
    filter: drop-shadow(1px 1px 3px #444444);
    cursor: pointer;
}

.detail-page-top-icon:active {
    transform: translate(1px, 1px);
}

.detail-tabs {
    margin: 0;   
    position: absolute;
    left: 0;
    bottom: 0; 
}

.img-btn {
    display: grid;
    flex-direction: column;
    background: transparent;
    color: var(--light-text);
    align-items: center;
    justify-content: center;
    gap: .5em;
}

/* TABS */
.tab-bar {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
}

.tab {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--tab-inactive-bg);
    padding: .5em 1em;
    margin: 0px 0px 0px .5em;
    cursor: pointer;
}

.tab-active {
    background-color: var(--tab-active-bg);
    font-weight: bold;
}


/** Switch */
.switch-holder {
    display: grid;
    align-items: center;
}

input.switch{
    position: relative;
    -webkit-appearance: none;
    outline: 0;
    width: 35px;
    height: 21px;
    background-color: #444;
    border: 1px solid #7c7c7c;
    border-radius: 50px;
    box-shadow: inset -16px 0 0 0 #201810;
    transition: all .2s;
    cursor: pointer;
}
input.switch:checked {
    box-shadow: inset 16px 0 0 0 #377409;
    border-color: #7c7c7c;
    transition: all .2s;
}

/*  Scrollbars
    -------------------*/
    .scroller {
        /* overflow: auto; */
        overflow-y: auto;
        overflow-x: hidden;
        overflow-anchor: none;
    }
    
    .scroller-dark::-webkit-scrollbar-track
    {
        width: 5px;  
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: rgba(0, 0, 0, .8);
    }
    
    .scroller-dark::-webkit-scrollbar
    {
        width: 5px;
        background-color: #F5F5F5;
        padding-left: 10px;
    }
    
    .scroller-dark::-webkit-scrollbar-thumb
    {
        border-radius: 8px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    } 
    
    .scroller-dark::-webkit-scrollbar-corner {
        background-color: transparent;
    }
    
    
    
    ::-webkit-scrollbar-track
    {
        width: 15px;  
        /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: rgba(0, 0, 0, .4);
    }
    
    ::-webkit-scrollbar
    {
          width: 15px;
        background-color: rgba(0, 0, 0, .4);
        padding-left: 10px;
    }
    
    ::-webkit-scrollbar-thumb
    {
        border-radius: 2px;
        /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
        /* box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
        background-color: #555;
    } 
    
    ::-webkit-scrollbar-corner {
        background-color: transparent;
    }
    
    
    .hide {
        /* display: none */
        transform: scale(0,0)
    }
    
    .glow {
        z-index:-1;
        transform: scale(1.01) translate(-50%, -50%);
        -webkit-transform: scale(1.01) translate(-50%, -50%);
        filter: brightness(0) invert(1) blur(5px);
        -webkit-filter: brightness(0) invert(1) blur(5px);
      }