.msg-header {
    display: flex;
    justify-content: space-between;
}

.uname {
    padding-left: .25em;
    font-weight: 400;
}

.time {
    color: #515558; /* MUTED */
    font-size: 1em;
    font-weight: 300;
}