<ng-container *ngIf="!player">
    <welcome></welcome>
</ng-container>
<ng-container *ngIf="player">
     <detail-page title="Home" [showTitle]="false" [showBack]='false'>
        <div class="hdr" top>
            <div class="row " [class.hdr-edit]="editingName" ><h1 class='hdrh1' [contenteditable]="editingName" 
                (keydown.enter)="saveName($event)" (keydown.esc)="cancelEdit()" [class.editting]="editingName" 
                [(ngModel)]="displayname" >{{player?.displayName}}</h1>
                <fa-icon [icon]="editingName? 'times' : 'edit'" size="lg" class="clickable light" (click)="editName()"></fa-icon></div>
            <playerid class="pid" [showSignOut]="true"></playerid>
        </div>

        <div main class='main'>
            <div class="buttons">
                <button class="btn btn-primary span2">
                    <div class="bigtxt">Join Active Session</div>
                    <div>Ironfang Invasion</div>
                </button>
                <button class="btn btn-secondary pic-btn btn-games" routerLink='/games' >Games</button>
                <button class="btn btn-secondary pic-btn btn-characters" routerLink="/characters">Characters</button>
                <button class="btn btn-secondary pic-btn btn-settings" routerLink="settings">Settings</button>
                <button class="btn btn-secondary pic-btn btn-templates" routerLink="templates">Templates</button>

            </div>
        </div>

     </detail-page>
</ng-container>

