<div class="detail-page">
    <div class="detail-page-header" *ngIf="showHeader">
        <!-- Back Button -->
        <button class="detail-page-back"><fa-icon icon="chevron-double-left" size="2x"></fa-icon></button>

        <!-- Title  -->
        <div class="detail-page-header-title">{{title}}</div>
    </div>
    <div class="detail-top" *ngIf="showTop">
        <ng-content select=[top]></ng-content>
    </div>
    <div class="detail-main">
        <ng-content select=[main]></ng-content>
    </div>
</div>