<div class="detail-page" >
    <div class="detail-top" *ngIf="showTop">
        <div class="detail-page-titlebar">
            <!-- Back Button -->
            <button *ngIf="showBack" class="detail-page-back" (click)='onBack()'><img src="/assets/components/back.png"></button>

            <!-- Title  -->
            <div  *ngIf="showTitle && !editTitle " class="detail-page-header-title">{{title}}</div>
            <editable-title *ngIf="showTitle && editTitle" class="detail-page-header-title" [title]='title' (updated)="updateTitle($event)"></editable-title>
        </div>
        <ng-content select=[top]></ng-content>
    </div>
    <div class="detail-main">
        <ng-content select=[main]></ng-content>
    </div>
</div>