.shell {
    font-size: .9em;
    color: black;
    text-shadow: none;
    display: grid;
    margin: .25em;
    /* overflow: auto; */
    grid-template-columns: 1fr ;
    height: 90vh;
}

.tools-right {
    padding-top: 1em;
    padding-right: .5em;
    position: absolute;
    right: 0;
    display: grid;
    gap: .5em;
    bottom: 20px;
    font-size: 1.3em;
    justify-items: center;
    color: grey;
}