.shell {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .5em
}

.pills {
    display: grid;
    gap: 1em;
    justify-content: space-between;
    align-content: start;
    background: #4d4d4d;
    padding: 1em;
    font-size: .95em;
    height: 150px;
    /* padding-top: 1.65em; */
}

.pill {
    border-radius: 50%;
    background: lightgrey;
    color: black;
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    filter: drop-shadow(1px 1px 3px black);
}

.active-pill {
    background: var(--detail-top-bg);
    color: white;
}

.inner {
    display: grid;
    grid-template-columns: auto 1fr min-content 1fr auto;
    gap: .5em;
    color: white;
    padding: 1em 45px 1em .5em;
    text-align: right;
    grid-template-rows: repeat(3, min-content);
    align-items: center;
}

.inner h3 {
    font-size: .8em;
    text-shadow: 1px 1px black;
}

.inner h3.right {
    text-align: right;
}

.inner input {
    font-size: 1.1em;
}

.format {
    height: 30px;
    width: 40px;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    border: 0px solid white;
}

.slash {
    font-size: 4em;
}

.addtext {
    height: 150px;
    text-align: center;
    vertical-align: center;
    font-size: 1.5em;
    text-shadow: 1px 1px black;
}