<ng-container *ngIf="!player">
    <welcome></welcome>
</ng-container>
<ng-container *ngIf="player">
     <detail-page title="Home" [showHeader]="false">
        <div class="hdr" top>
            <div class="row " [class.hdr-edit]="editingName" ><h1 [contenteditable]="editingName" 
                (keydown.enter)="saveName($event)" (keydown.esc)="cancelEdit()" [class.editting]="editingName" 
                [(ngModel)]="displayname" >{{player?.displayName}}</h1>
                <fa-icon [icon]="editingName? 'times' : 'edit'" size="lg" class="clickable muted" (click)="editName()"></fa-icon></div>
            <playerid></playerid>
        </div>

        <div main>
            <button class="btn btn-big"> Big button</button>
        </div>

     </detail-page>
</ng-container>

