.shell {
    display: grid;
    gap: .5em;
}

.header {
    display: grid;
    grid-template-columns: 75px 50px 50px 50px 50px;
    gap: 1em;
    justify-content: center;
}

.header2 {
    display: none;
    grid-template-columns: 75px 50px 50px 50px 50px;
    gap: 1em;
    justify-content: center;
}

.header label {
    text-align: center;
    text-transform: capitalize;
    font-size: .8em;
}

.header2 label {
    text-align: center;
    text-transform: capitalize;
    font-size: .8em;
}

@media screen and (max-height: 450px) {
    .shell {
        grid-template-columns: 1fr 1fr;
    }

    .header2 {
        display: grid;
    }
}