.playerid {
    font-family: 'Courier New', Courier, monospace;
}
.id {
    font-weight: 200;
}

.pid {
    color: var(--light-text);
    font-size: 1.4em;
}

.editting {
    border-radius: 7px;
    background: white;
    width: 100%;
    color: black;
}