<div class="shell">
    <div class="enable">
        <label>Enabled</label>
        <div class="switch-holder">
            <input type="checkbox" class="switch tab-category-switch" [(ngModel)]="mapdata.fog.enabled" (change)="update()" >
        </div>
    </div>
    <div class="inner" [class.notvisible]="!mapdata.fog.enabled" >
        <fa-icon class="icon icon-shadow clickable p-1" [icon]="mapdata.fog.hideAll?'eye-slash':'eye'" (click)="toggleShowAll()" ></fa-icon>
        <fa-icon class="icon icon-shadow clickable p-1" [class.active]="drawing=='rectangle'" icon="draw-square" (click)="startRectangle()"></fa-icon>
        <fa-icon class="icon icon-shadow clickable p-1" [class.active]="drawing=='circle'" icon="draw-circle" (click)="startCircle()"></fa-icon>
        <fa-icon class="icon icon-shadow clickable p-1" [class.active]="drawing=='polygon'" icon="draw-polygon" (click)="startPolygon()"></fa-icon>
        <fa-icon class="icon icon-shadow clickable p-1" icon="sync-alt" (click)="refresh()"></fa-icon>
        <div class="span-bar" [class.vis]="drawing">
            <button (click)="show()"><fa-icon class="icon" icon="eye"></fa-icon> Show</button>
            <button (click)="hide()"><fa-icon class="icon" icon="eye-slash"></fa-icon> Hide</button>
            <button (click)="cancel()"><fa-icon class="icon" icon="times"></fa-icon> Cancel</button>
        </div>
    </div>
    <div class="bottom" [class.notvisible]="!mapdata.fog.enabled">
        <label>GM Alpha</label>
        <div class="slidecontainer">
            <input class="slider" type="range" min="0" max="1" step=0.05 [(ngModel)]="mapdata.fog.gmAlpha"(change)="update()">
        </div>
        <label>Blur</label>
        <div class="slidecontainer">
            <input class="slider" type="range" min="0" max="20" step=1 [(ngModel)]="mapdata.fog.blur"(change)="update()">
        </div>
    </div>
</div>