<div class="preview-area" (dblclick)="dblClick()">
    <dice-canvas #dice (diceroll)="diceRolled($event)"></dice-canvas>
    <div class="chat-area">
        <div class="chat-message-area scroller-dark">
            <div *ngFor="let m of messages; let odd=odd; let even=even;" [class.message-odd]="odd"
                [class.message-even]="even" class="message">
                <span class="uname">{{m.displayName}}: </span>
                <span class="text" *ngIf="isText(m.record)">{{m.record.message}}</span>
                <ng-container *ngIf="isRoll(m.record)">
                    <span class="expression">{{m.record.expression}} --> </span>
                    <span *ngFor="let r of m.record.dice; let last = last;"> [{{r.getTotal()}}] </span>
                    <ng-container *ngIf="m.record.modifier > 0">
                        + {{m.record.modifier}}
                    </ng-container>
                    <ng-container *ngIf="m.record.modifier < 0">
                        {{m.record.modifier}}
                    </ng-container>
                    = {{getTotal(m.record)}}
                </ng-container>
                <span class="text" *ngIf="isMeasure(m.record)">Measured {{m.record.total.toFixed(1)}} ft</span>
                <span class="text" *ngIf="isPing(m.record)">Planted a Flag</span>
            </div>
        </div>
    </div>
    <chat-text class="chatbox" [size]="chatTextSize" [dice]="dice" (toggleDiceDialog)="toggleRoller()" #chat></chat-text>
    <fa-icon class="upper-right" size="lg" [icon]="large?'chevron-down':'chevron-up'" (click)="toggleSize()">
    </fa-icon>
    <div class="roller" [class.hide]="!showroller">
        <dice-dialog (onClose)="toggleRoller()" (onComplete)="chat.roll($event)"></dice-dialog>
    </div>
</div>