<detail-page [showBack]="true" title="Maps" [backLink]="'home'"> 
    <div class="character-page-top" top>
        <img class="detail-page-top-image top-img" src="/assets/pages/maps.png">

        <div class="buttons">
            <button class="detail-page-top-btn" routerLink='/new-map'>Create</button>
            <div class="sort">
                <fa-icon icon="calendar-alt" class="detail-page-top-icon" ></fa-icon>
                <div class="text">Active: </div>
                <fa-icon icon="toggle-on" size="2x" style="color: rgb(130,171,102);"></fa-icon>
            </div>
        </div>
    </div>
</detail-page>