.shell {
    display: grid;
    gap: .25em;
}

.outter {
    max-height: calc(100vh - 260px);
}

.fab {
    border-radius: 50%;
    filter: drop-shadow(1px 1px 3px #444444);
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 2.2em;
    width: 2.2em;
}

.bottom-spacer {
    height: 100px;
}



@media screen and (min-width: 500px) {
    .shell {
        grid-template-columns: 1fr 1fr;
    }
}