<!-- Tabs to add items-->
<ng-container *ngIf="session.mapdata">

<div class="map-tools" [class.hide]="shown" [class.hide-toolbar]="!session.showToolbar">
    <fa-icon class="map-tool-icon clickable" icon="location" size="lg" (click)="recenter()" *ngIf="needsRecenter()"></fa-icon>
    <fa-icon class="map-tool-icon clickable" icon="expand"  size="lg" (click)="zoomExtents()"></fa-icon>
    <fa-icon class="map-tool-icon clickable" icon="ruler" size="lg" (click)="startMeasure()"></fa-icon>
    <fa-icon class="map-tool-icon clickable" icon="user-shield"  size="lg" (click)="toggleEncounter()" [class.map-tool-icon-active]="showEncounter"></fa-icon>
    <fa-icon class="map-tool-icon clickable" icon="tools"  size="lg" (click)="showGmTools()" *ngIf="isGM()"></fa-icon>
    <fa-icon class="map-tool-icon clickable" icon="map-marked-alt" size="lg" (click)="addToMap()"></fa-icon>
</div>

<tool-tabs *ngIf="shown==='addtools'"  (onClose)="closeTab()" (onActivate)="onActivate($event)">
    <tool-tab label="New" icon="plus-hexagon">
        <add-tool></add-tool>
    </tool-tab>
    <tool-tab label="Favorites" icon="star">
        <favorites-tool></favorites-tool>
    </tool-tab>
</tool-tabs>

<tool-tabs *ngIf="shown==='gmtools'" (onClose)="closeTab()" (onActivate)="onActivate($event)">
    <tool-tab label="Grid" icon="border-all">
        <grid-tool [mapdata]="session.mapdata" (update)="updateGrid($event)"></grid-tool>
    </tool-tab>
    <tool-tab label="Fog" icon="fog">
        <fog-tool [mapdata]="session.mapdata" (update)="updateFog($event)"></fog-tool>
    </tool-tab>
    <tool-tab label="Calibrate" icon="pencil-ruler">
        <calibrate-tool [mapdata]="session.mapdata" [mapview]="session.mapview" (update)="updateCalibrate($event)" #calibrate>
        </calibrate-tool>
    </tool-tab>
    <tool-tab label="Encounter" icon="swords">
        <encounter-tool></encounter-tool>
    </tool-tab>
</tool-tabs>

<measure-tool *ngIf="shown==='measure'"  (onClose)="closeTab()"></measure-tool>

<!-- SELECTION TABS -->

<edit-token-tool *ngIf="isTokenSelected()" [item]="selected" (onUpdate)="updateSelected()" (onClose)="closeSelection()"></edit-token-tool>

<tool-tabs *ngIf="isCircleSelected()" (onClose)="closeSelection()" (onActivate)="onActivate($event)">
    <tool-tab label="Circle" icon="draw-circle">
        <edit-circle-tool [circle]="selected"></edit-circle-tool>
    </tool-tab>
</tool-tabs>


<tool-tabs *ngIf="isRectangleSelected()" (onClose)="closeSelection()" (onActivate)="onActivate($event)">
    <tool-tab label="Rectangle" icon="draw-square">
        <edit-rectangle-tool [item]="selected"></edit-rectangle-tool>
    </tool-tab>
</tool-tabs>

<tool-tabs *ngIf="isPolygonSelected()" (onClose)="closeSelection()" (onActivate)="onActivate($event)">
    <tool-tab label="Polygon" icon="draw-polygon">
        <edit-polygon [item]="selected"></edit-polygon>
    </tool-tab>
</tool-tabs>

<tool-tabs *ngIf="isPolylineSelected()" (onClose)="closeSelection()" (onActivate)="onActivate($event)">
    <tool-tab label="Line" icon="signature">
        <edit-polygon [item]="selected" ></edit-polygon>
    </tool-tab>
</tool-tabs>

<tool-tabs *ngIf="isMarkerSelected()" (onClose)="closeSelection()" (onActivate)="onActivate($event)">
    <tool-tab label="Marker" icon="map-marker-alt">
        <edit-marker [item]="selected"></edit-marker>
    </tool-tab>
</tool-tabs>

<!-- ITEMS -->
<add-token-tool *ngIf="shown==='addtoken'" (onClose)="closeTab()" type='token'></add-token-tool>
<add-token-tool *ngIf="shown==='addcharacter'" (onClose)="closeTab()" type='character'></add-token-tool>
<add-token-tool *ngIf="shown==='addmonster'" (onClose)="closeTab()" type='monster'></add-token-tool>

<!-- Encounter -->
<token-carousel *ngIf="showEncounter" ></token-carousel>

<encounter-builder *ngIf="shown==='encounterbuilder'" (onClose)="closeTab()"></encounter-builder>

</ng-container>