<!-- Tabs to add items-->
<ng-container *ngIf="session.mapdata">

<tool-tabs *ngIf="shown==='addtools'"  (onClose)="closeTab()" (onActivate)="onActivate($event)">
    <tool-tab label="New" icon="plus-hexagon">
        <add-tool></add-tool>
    </tool-tab>
    <tool-tab label="Favorites" icon="star">
        <favorites-tool></favorites-tool>
    </tool-tab>
</tool-tabs>

<tool-tabs *ngIf="shown==='gmtools'" (onClose)="closeTab()" (onActivate)="onActivate($event)">
    <tool-tab label="Grid" icon="border-all">
        <grid-tool [mapdata]="session.mapdata" (update)="updateGrid($event)"></grid-tool>
    </tool-tab>
    <tool-tab label="Fog" icon="fog">
        <fog-tool [mapdata]="session.mapdata" (update)="updateFog($event)"></fog-tool>
    </tool-tab>
    <tool-tab label="Calibrate" icon="pencil-ruler">
        <calibrate-tool [mapdata]="session.mapdata" [mapview]="session.mapview" (update)="updateCalibrate($event)" #calibrate>
        </calibrate-tool>
    </tool-tab>
</tool-tabs>

<!-- SELECTION TABS -->

<edit-token-tool *ngIf="isTokenSelected()" [item]="selected" (onUpdate)="updateSelected()" (onClose)="closeSelection()"></edit-token-tool>

<tool-tabs *ngIf="isCircleSelected()" (onClose)="closeSelection()" (onActivate)="onActivate($event)">
    <tool-tab label="Circle" icon="draw-circle">
        <edit-circle-tool [circle]="selected"></edit-circle-tool>
    </tool-tab>
</tool-tabs>


<tool-tabs *ngIf="isRectangleSelected()" (onClose)="closeSelection()" (onActivate)="onActivate($event)">
    <tool-tab label="Rectangle" icon="draw-square">
        <edit-rectangle-tool [item]="selected"></edit-rectangle-tool>
    </tool-tab>
</tool-tabs>

<!-- ITEMS -->
<add-token-tool *ngIf="shown==='addtoken'" (onClose)="closeTab()" type='token'></add-token-tool>
<add-token-tool *ngIf="shown==='addcharacter'" (onClose)="closeTab()" type='character'></add-token-tool>
<add-token-tool *ngIf="shown==='addmonster'" (onClose)="closeTab()" type='monster'></add-token-tool>

</ng-container>