<div class='shell'>
    <div class="color-area" [class.hide]="colorpickerhide">
        <div #colorpick [(colorPicker)]="item.color" cpDialogDisplay='inline' cpAlphaChannel='always'
            cpCloseClickOutside='true' cpOutputFormat='hex' (colorPickerChange)="update()" cpDisableInput='true'>
        </div>
    </div>
    <div class="color-area" [class.hide]="colorpickerhide2">
        <div #colorpick2 [(colorPicker)]="item.fillColor" cpDialogDisplay='inline' cpAlphaChannel='always'
            cpCloseClickOutside='true' cpOutputFormat='hex' (colorPickerChange)="update()" cpDisableInput='true'>
        </div>
    </div>
    <h3>Presets</h3>
    <div class="preset-area scroller-dark scroller">
        <div *ngFor="let item of presetItems" class="preset-item" [ngStyle]="item.style" (click)="usePreset(item)">
        </div>
    </div>
    <h3>Custom</h3>
    <div class="custom-area">
        <h4>Border</h4>
        <h4>Color</h4>
        <h4>Weight</h4>

        <div class="switch-holder"><input type="checkbox" class="switch tab-category-switch" [(ngModel)]="item.border"
                (change)="update()">
        </div>

        <div class="form-control form-control-sm color-pick" (click)="colorpick.click(); colorpickerhide=false"
            [style.background]="item.color">
        </div>

        <div class="slidecontainer">
            <input class="slider" type="range" min="0" max="10" step="1" [(ngModel)]="item.weight" (change)="update()">
        </div>

        <h4>Fill</h4>
        <h4>Color</h4>
        <h4></h4>

        <div class="switch-holder"><input type="checkbox" class="switch tab-category-switch" [(ngModel)]="item.fill"
                (change)="update()" placement="bottom" ngbTooltip="Enable / Disable Gridlines" container="body">
        </div>

        <div class="form-control form-control-sm color-pick" (click)="colorpick2.click(); colorpickerhide2=false"
            [style.background]="item.fillColor" >
        </div>
        <button class="btn">Save as Preset</button>
    </div>
</div>