<div class="shell">
    <attribute [item]="att"  *ngFor="let att of item.attributes" (click)="show(att)"></attribute>
    <div class="bottom-spacer"></div>
</div>
<button class="fab btn btn-primary" (click)="add()">
    <fa-icon icon="plus" size="lg"></fa-icon>
</button>
<div class="dialog-anchor" *ngIf="showdialog" (click)="cancel()">
    <attribute-dialog [item]="showdialog" [chr]="item"
     (onSave)="save($event)" 
     (onCancel)="cancel()"
     (onDelete)="delete()"
     (onCopy)="copy($event)"
     (onDerive)="derive($event)">
    </attribute-dialog>
</div>