<div class="holder">
    <fa-icon class="icon clickable" icon="draw-circle" size="2x" (click)="startCircle()"></fa-icon> 
    <fa-icon class="icon clickable" icon="draw-square" size="2x" (click)="startRectangle()"></fa-icon> 
    <fa-icon class="icon clickable mt-2" icon="map-marker-alt" size="2x" (click)="startMarker()"></fa-icon> 

    <fa-icon class="icon clickable" icon="user-shield" size="2x" (click)="startCharacter()"></fa-icon> 
    <fa-icon class="icon clickable" icon="helmet-battle" size="2x" (click)="startToken()"></fa-icon> 
    <fa-icon class="icon clickable" icon="dragon" size="2x" (click)="startMonster()"></fa-icon> 
    
    <h3>Circle</h3>
    <h3>Rectangle</h3>
    <h3>Marker</h3>
    <h3>Character</h3>
    <h3>Token</h3>
    <h3>Monster</h3>

    <fa-icon class="icon clickable mt-2" icon="signature" size="2x" (click)="startLine()"></fa-icon> 
    <fa-icon class="icon clickable mt-2" icon="draw-polygon" size="2x" (click)="startPolygon()"></fa-icon> 
    <fa-icon class="icon clickable mt-2" icon="pennant" size="2x" (click)="startFlag()"></fa-icon> 
    <fa-icon class="icon clickable mt-2" icon="image" size="2x" (click)="startImage()"></fa-icon> 
    <fa-icon class="icon clickable mt-2" icon="text" size="2x" (click)="startText()"></fa-icon> 
    <fa-icon class="icon clickable mt-2" icon="cloud-upload" size="2x" (click)="upload.getFile()"></fa-icon> 
    
    <h3>Line</h3>
    <h3>Polygon</h3>
    <h3>Flag</h3>
    <h3>Image</h3>
    <h3>Text</h3>
    <h3>Upload</h3>

    <div class="layers" *ngIf="session.isGM()">
        <fa-icon class="icon clickable" [fixedWidth]="true" icon="map" (click)="setLayer('background')" [class.current-layer]="session.currentLayer == 'background'"></fa-icon> 
        <fa-icon class="icon clickable" [fixedWidth]="true" icon="user-shield" (click)="setLayer('player')" [class.current-layer]="session.currentLayer == 'player'"></fa-icon> 
        <fa-icon class="icon clickable" [fixedWidth]="true" icon="user-crown" (click)="setLayer('gm')" [class.current-layer]="session.currentLayer == 'gm'"></fa-icon> 
    </div>

    <app-upload-button #upload (choice)="uploadImg($event)"></app-upload-button>
</div>