.character-img {
    height: 94%;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.sort {
    color: white;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
}

.sort .text {
    /* font-size: .75em; */
    text-shadow: 1px 1px black;
    padding-right: .5em;
    padding-left: 1em;
}

.game-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 190px);
    gap:10px;    
}
.game-card {
    /* height: 250px; */
    width: 190px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid var(--detail-top-bg);
    background: var(--detail-top-bg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* filter: var(--filter-shadow); */
    box-shadow: var(--box-shadow);
}

.game-card img {
    height: 100px ;
    width: 100%;
    object-fit: cover;
}

.game-card h4 {
    color: var(--light-text);
    text-shadow: 1px 1px black;
    font-size: .75em;
    padding: .2em;
    border-top: 2px solid var(--detail-top-bg);
    text-align: center;
}

@media screen and (orientation: landscape) and (max-width: 900px)  {
    .buttons {
        grid-template-columns: auto 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .sort {
        grid-row: 1;
    }
}