<div class="dialog layout" (click)="$event.stopPropagation()">
    <div class="header">
        <h1>Skill</h1>
        <div class="button-bar " *ngIf="showTools">
            <button class="icon-btn" (click)="delete()">
                <fa-icon icon="trash-alt" size="2x"></fa-icon>
                <label>Delete</label>
            </button>
            <button class="icon-btn" (click)="copy()">
                <fa-icon icon="copy" size="2x"></fa-icon>
                <label>Duplicate</label>
            </button>
        </div>
    </div>
    
    <label for="name">Name</label>
    <label for="ranks">Class</label>

    <input type="text" [(ngModel)]="item.name" name="name">
    <div class="switch-holder">
        <input type="checkbox" class="switch tab-category-switch" [(ngModel)]="item.classSkill" >
    </div>

    <div class="two">
        <label for="ranks">Ranks</label>
        <label for="mod">Mod</label>
        <label for="total">Total</label>

        <input type="number" focus-select [(ngModel)]="item.ranks" name="ranks">
        <input type="number" focus-select [(ngModel)]="item.mod" name="mod">
        <div class="value" >{{item.total(chr) | plus}}</div>
    </div>

    <div class="three">
        <div class="ability-wrapper">
            <label for="ranks">Ability</label>
            <select [(ngModel)]="item.ability">
                <option *ngFor="let a of chr.abilityScores" [value]="a.abbr">{{a.abbr}} ({{a.tempMod |plus}})</option>
            </select>
        </div>
        <div class="tools">
            <label for="ranks">Needs Tools</label>
            <div class="switch-holder">
                <input type="checkbox" class="switch tab-category-switch" [(ngModel)]="item.needsTools" >
            </div>
            <label for="ranks">Has Tools</label>
            <div class="switch-holder">
                <input type="checkbox" class="switch tab-category-switch" [(ngModel)]="item.tools" >
            </div>
        </div>
    </div>

    <label for="description" class="grid-span-2" >Description</label>
    <textarea  name="description" [(ngModel)]="item.description" rows="3"></textarea>

    <button class="btn btn-submit btn-dialog grid-span-2" (click)="save()" [disabled]="!canSave()">OK</button>
    <button class="close-tool" (click)="cancel()">
        <fa-icon icon="times" size="lg"></fa-icon>
    </button>
</div>
