<tool-tabs (onClose)="close()">
    <tool-tab label="Personal" >
        <edit-token-tool-personal [item]="item" (onUpdate)="updated()"></edit-token-tool-personal>
    </tool-tab>
    <tool-tab label="Bars" >
        <edit-token-tool-bars [item]="item"  (onUpdate)="updated()"></edit-token-tool-bars>
    </tool-tab>
    <tool-tab label="Aura" >
        <edit-token-tool-auras [item]="item"  (onUpdate)="updated()"></edit-token-tool-auras>
    </tool-tab>
    <tool-tab label="more..." >
        <edit-token-tool-image [item]="item"  (onUpdate)="updated()"></edit-token-tool-image>
    </tool-tab>
</tool-tabs>
