<div class="live-shell">
    <div class="temp">
        <div>GAME : {{game.name}}</div>
        <a routerLink="../../"> BACK </a>
        <a routerLink="../"> EDIT </a>
        <div>{{mapview?.viewport?.screenWidth}}, {{mapview?.viewport?.screenHeight}}</div>

        <button (click)="center1()">Center All</button>
        <button (click)="center2()">Center Height</button>
        <button (click)="center3()">Center Witdh</button>
        <button (click)="mapview.zoomOut()">Zoom Out</button>
        <button (click)="mapview.zoomIn()">Zoom In</button>
    </div>
    <map class="map-container" [mapdata]="mapdata" #mapview></map>
    <chat-preview *ngIf="chatPreview" ></chat-preview>
    <full-chat *ngIf="!chatPreview" class="chat"></full-chat>
</div>