.area {
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 10px;
    grid-template-rows: 1fr;
}

.color-pick {
    height: 29px;
    cursor: pointer;
    border-radius: 5px;
}


.switch-holder {
    padding: 5px 0 0 9px;
}


.two-column-grid {
     display: grid;
     grid-template-columns: auto 1fr;
     gap: 1em;
}