<div class="action-bar">
    <div class="action">
        <fa-icon class="icon-shadow clickable" icon="star" size="2x" (click)="saveFavorite()" [class.favorite]="isFavorite()"></fa-icon>
        <h3>Favorite</h3>
    </div>
    <div class="action">
        <fa-icon class="icon-shadow clickable" icon="lock" size="2x" (click)="showRestrict()" [class.restricted]="isRestricted()"></fa-icon>
        <h3>Restrict</h3>
    </div>
    <div class="action">
        <fa-icon class="icon-shadow clickable" icon="trash-alt" size="2x" (click)="delete()" ></fa-icon>
        <h3>Delete</h3>
    </div>
</div>