.action-bar {
    display: grid;
    gap: .5em;
    justify-content: space-between;
    align-content: space-between;
    background: #4d4d4d;
    padding: 1em;
    font-size: .85em;
    padding-top: .6em;
}

.action h3 {
    font-size: 1em;
    text-shadow: 1px 1px black;
    font-weight: 200;
}

.action {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: .2em;
    justify-items: center;
    font-size: .9em;
}
