<div class="action-bar">
    <div class="action">
        <fa-icon icon="star" size="2x" (click)="showFavorite()" [class.favorite]="isFavorite()"></fa-icon>
        <h3>Favorite</h3>
    </div>
    <div class="action">
        <fa-icon icon="lock" size="2x" (click)="showRestrict()" [class.restricted]="isRestricted()"></fa-icon>
        <h3>Restrict</h3>
    </div>
    <div class="action">
        <fa-icon icon="trash-alt" size="2x" (click)="delete()" ></fa-icon>
        <h3>Delete</h3>
    </div>
</div>