<div class="shell">
    <fav-tool [item]="circle" (onUpdate)="updated()"></fav-tool>

    <div class="inner">
        <h3>Name</h3>
        <input class="grid-span-2" type="text" [(ngModel)]="circle.name" (ngModelChange)="updated()" >

        <h3>Radius</h3>
        <input name="radius" type='number'  [ngModel]="circle.radius" (ngModelChange)="updateRadius($event)" >
        <select [(ngModel)]="circle.unit">
            <option value="ft">Feet</option>
        </select>

        <h3>Format</h3>
        <div class="format" (click)="showFormatDialog()" 
            [style.background]="circle.fill?circle.fillColor:''" 
            [style.border-color]="circle.border?circle.color:''" 
            [style.border-width.px]="circle.border?circle.weight:0"></div>
    </div>
    <layer-pick [item]="circle" (updated)="updated($event)"></layer-pick>
</div>
