<div class="shell">
    <div class="inner">
        <div class="header">
            <input type="text" [(ngModel)]="searchTerm" placeholder="Enter Search" (input)="onSearchChange($event.target.value)">
            <fa-icon class="search-x" icon="times-circle" (click)="clearSearch()"></fa-icon>
            <fa-icon class="clickable" icon="sliders-h" size="lg" (click)="showFilter()"></fa-icon>
        </div>
        <div class="result-area">
            <div *ngFor="let item of results" class="card">
                <figure [class.selected] = "isSelected(item)">
                    <img [src]="item.token">
                    <figcaption>{{item.name}}</figcaption>
                </figure>
            </div>
        </div>
    </div>
    <button class="close-tool" (click)="closeTools()">
        <fa-icon icon="times" size="lg"></fa-icon>
    </button>
</div>