.character-img {
    height: 85%;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.sort {
    color: white;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
}

.sort .text {
    /* font-size: .75em; */
    text-shadow: 1px 1px black;
    padding-right: .5em;
    padding-left: 1em;
}

.inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 1em;
}

.character {
    border-radius: 7px;
    display: grid;
    gap: .5em;
    align-content: center;
    justify-content: center;
    padding: 0 1em;
    cursor: pointer;
}

.character:hover {
    background: grey;
}

.character img {
    width: 120px;
    height: 120px;
}

.character label {
    text-align: center;
}

.results {
    height: calc( 100vh - 250px);
}

@media screen and (orientation: landscape) and (max-width: 900px)  {
    .buttons {
        grid-template-columns: auto 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .sort {
        grid-row: 1;
    }
}