<div class="page-area centered">
    <div class="welcome-container">
    <div class="welcome centered">
        <div><img src="./assets/icons/icon-144x144.png"></div>
        <h1>Tactics Foundry</h1>
        
    </div>
    <p>This is your first time. Please enter a display name. If you already have a player id then enter it.</p>
    <h3>Display Name</h3>
    <input class="fullw" type="text" [(ngModel)]="displayName">
    <playerid></playerid>
    <button class="btn btn-primary btn-big" (click)="submit()">Continue</button>
</div>
</div>